@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
  font-family: "Comic Neue", cursive;
  font-weight: bold;
}
body {
  background-color: #212121;
  color: antiquewhite;
}
.headerName {
  color: rgb(226, 226, 226);
  text-align: center;
  padding-top: 20px;
}

#msg {
  text-align: center;
  color: red;
  display: none;
  margin-bottom: 20px;
}
#items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.singleItem {
  cursor: pointer;
  color: #212121;
}
#details {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  color: #212121;
}
